.heading-page{
    display: flex;
    flex-direction: column;
}
.theterminal{
    align-items: center;
    color: black;
    font-weight: 1000;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.local{
    align-items: center;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.nation{
    align-items: center;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.global{
    align-items: center;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.oped{
    align-items: center;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.donate{
    align-items: center;
    font-size: 20px;
    color: gray;
}
.banner{
    background-image: url("https://i.pinimg.com/736x/e1/40/3a/e1403ae38c0f6fe5fda0f5b6a72e8cd5--scary-lakes.jpg");
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    margin: 40px auto;
    border-radius: 50px;
}
.text{
    color: floralwhite;
    margin-left: 50px;
}
.child{
    line-height: 1400px;
    text-align: left;
}
.first-title{
    color: brown;
    text-align: center;
}
.cre{
    text-align: center;
    font-size: 20px;
    color: dimgray;
    margin: 60px 0px;
}
span{
    border: 1px darkgray dotted;
}
p{
    color: gray;
    font-size: 20px;
    text-align: center;
}
#first-para{
    margin: 50px 0px;
    text-align: center;
}
#second-para{
    margin: 50px 0px;
}
#third-para{
    margin: 50px 0px;
}
#last-para{
    margin: 50px 0px;
}
.second-title{
    color: brown;
    text-align: center;
}
